big-data-engineering.code-workspace
venv
sudoku-20230720T123157-3.svg
sudoku-20230720T123959-5.svg
.gitignore
.ipynb_checkpoints
helpers/__pycache__
data/churn.csv
data/HRDataset_v14.csv
data/sales.csv
data/telco_etl_challenge/
solutions/telecom_etl_challenge_solution.ipynb
exercises/telecom_etl_challenge.ipynb
solutions/data_streaming.ipynb
solutions/streaming_server.py
data/minions-ipsum.txt
data/telecom_customers_for_cleaning.csv
prototypes
